<table class='table table-hover table-responsive-lg'>
  <thead class="th-default">
    <thead>
      <tr>
        <th><%= Player.human_attribute_name('full_name') %></th>
        <th><%= Player.human_attribute_name('total_wins') %></th>
        <th><%= Player.human_attribute_name('total_loss') %></th>
        <th> Average Score </th>
        <th> Highest Score - Against </th>
        <th class="text-right"><%= t('global.action', count: 2) %></th>
      </tr>
    </thead>
  </thead>

  <tbody>
    <% @players.each do |player| %>
      <% highest_score, against_player_name, at_date = get_high_score_details(player) %>

      <tr>
        <td style="width:25%">
          <span><%= player.full_name.titleize %></span>
        </td>
        <td style="width:10%">
          <span><%= player.total_wins %></span>
        </td>
        <td style="width:10%">
          <span><%= player.total_loss %></span>
        </td>
        <td style="width:15%">
          <span><%= player_avg_score(player) %></span>
        </td>
        <td style="width:30%">
          <% if highest_score == 'NA' %>
            <span> NA </span>
          <% else %>
            <span><%= highest_score %> <b> Against </b> <%= against_player_name.titleize %> <b> On </b> <br /> <%= at_date %></span>
          <% end %>
        </td>
        <td style="width:10%">
          <div class="dropdown text-right">
            <a class="btn dropdown-toggle" href="javascript:;" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span>Actions</span></a>
            <div class="dropdown-menu">
              <%= link_to 'Show', player, class: "dropdown-item" %>
              <%= link_to 'Edit', edit_player_path(player), class: "dropdown-item" %>
              <%= link_to 'Destroy', player, method: :delete, class: "dropdown-item", data: { confirm: 'Are you sure?' } %>
            </div>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>